# dependencias
/node_modules

# next.js
/.next/
/out/

# producción
/build

# entorno (NUNCA subir credenciales)
.env
.env.local
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# sistema
.DS_Store
*.pem
npm-debug.log*
